{% extends "real_effort_numbers_nt_nt/base/global.html" %}

{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    Por favor realice las siguientes restas
{% endblock %}

{% block content %}

    <div class="wrapper instructions">
        <p align = "justify">
                Por favor, reste los siguientes números que aparecerán en pantalla. Luego presione el botón <b>Siguiente</b>
                o la tecla <b>Enter</b> para continuar.
            <table class="table" style="text-align:right" colspan="2" >
                <tr>
                    <td style="font-size:30px">{{ number_2 }} - {{ number_1 }} = </td>
                    <td> <input type="number" name="number_entered" required id="id_number_entered" class="form-control" autofocus=""> </td>
                </tr>
            </table>
                <b>Restas correctas:</b> <font color='blue'>{{correct_answers}}</font><br>
                <b>Restas incorrectas:</b> <font color='red'>{{wrong_sums}}</font><br>
                <b>Restas totales:</b> {{total_sums}}<br>
                <b>Pago por restas:</b> ${{combined_payoff}}<br>
                <b>Ronda {{player.round_number}} de {{Constants.sub_rounds_stage_1}}</b>    
        </p>
    </div>
{% next_button %}
{% endblock %}