{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'real_effort_numbers_nt_t/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Instrucciones Etapa 1" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p align = "justify">
            {% comment %} Todos:{% endcomment %} Esta etapa tiene 10 rondas. En cada ronda usted y otra persona con la que le será emparejado (a),
            deberán realizar sumas de números de dos dígitos a lo largo de un minuto.
            Por cada suma correcta, cada miembro de la pareja recibirá $50.<br><br>

            Dado que sus decisiones son anónimas, ni usted ni la otra persona conocerán la identidad de la persona con quien han
            sido emparejados (as).<br><br>

            En esta etapa usted será emparejado(a) con un participante distinto en cada ronda.<br><br>

            <b>A continuación le haremos unas preguntas de control, solo para estar seguros de que las instrucciones han sido claras</b>
        </p>
    </div>
    {% next_button %}
{% endblock %}
