{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'mpl/css/custom.css' %}" rel="stylesheet"/>
    <link href="{% static 'mpl/css/headtails.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Etapa 3 - Moneda" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p align = "justify">
            Usted ha decidido invertir <b>${{inversion}}</b>.<br><br>

            <b>Por favor, haga clic sobre la moneda para hacerla girar. Esta vez, el resultado sí determinará tu pago</b>
        </p>
    </div>
    <div id="coin">
        <div class="side-a"></div>
        <div class="side-b"></div>
    </div>
    {% block scripts %}
        <script>
            var doneTheStuff, flipResult;

            jQuery(document).ready(function ($) {
                flipResult = Math.random();
                $('#coin').on('click', function () {
                    //if (!doneTheStuff) {
                    //    doneTheStuff = true;
                        setTimeout(function () {
                            console.log(flipResult);
                            if (flipResult <= 0.5) {
                                $('#coin').addClass('heads');
                                console.log('it is head');
                                liveSend({ 'flipResult': flipResult});
                            }
                            else {
                                $('#coin').addClass('tails');
                                console.log('it is tails');
                                liveSend({ 'flipResult': flipResult });
                            }
                        }, 100);
                    //}
                }
            );
        });

        function liveRecv(data) {
                console.log('received a message!', data);
                // your code goes here
            }

        </script>
    {% endblock %}


{% next_button %}
{% endblock %}

