{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'mpl/css/custom.css' %}" rel="stylesheet"/>
    <link href="{% static 'mpl/css/headtails.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Etapa 3 - Moneda" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p align = "justify">
            Usted ha decidido invertir <b>${{inversion}}</b>.<br><br>

            <h2>Por favor, haga clic sobre la moneda para hacerla girar. Esta vez, el resultado sí determinará tu pago</h2>
        </p>
    </div>
    <div id="coin">
        <div class="side-a"></div>
        <div class="side-b"></div>
    </div>
    {% block scripts %}
        <script> var flipResult = '{{player.cara_sello_value }}';</script>
        <script src="{% static 'mpl/js/headtails.js' %}"></script>
    {% endblock %}

    
{% next_button %}
{% endblock %}

