{% extends "real_effort_numbers_t_t/base/global.html" %} 

{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Etapa 3 - Resultados" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p align = "justify">
            Usted invirtió <b>${{inversion}}</b> y la moneda cayó <b>{{cara_sello_name}}</b>. 
            Usted ha ganado <b>${{cara_sello_payoff}}</b> en la Etapa 3.
        </p>
    </div>

    {% next_button %}

{% endblock %}
